@media (max-width: 768px) {
    .xPerson {


        width: 200px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px !important;
        border-radius: 10px;

        background-color: white;


        box-shadow: 1px 1px 3px #dedede,
            -1px -1px 3px #f5f0f0;

        box-shadow: 5px 5px 18px #dedede,
            -5px -5px 18px #ffffff;


        .xPerson-icon {
            width: 60px;
            height: 60px;
            padding: 5px;
            // background-color: gainsboro;
            border-radius: 5px;
            box-shadow: 1px 1px 3px #dedede,
                -1px -1px 3px #f5f0f0;
        }

        .xPerson-intro {
            margin-top: 10px;
            color: #bebcbc;
            font-size: 12px;
        }

        .xPerson-links {
            margin-top: 10px;

            .xPerson-links-icon {
                margin: 0 10px;
            }
        }
    }
}