.dark .xPerson {

    background-color: #1e152e;


    box-shadow: 2px 2px 3px #837f7f,
        -2px -2px 3px #6e6d6d;


    .xPerson-icon {
        width: 60px;
        height: 60px;
        padding: 5px;
        margin-top: 10px;

        border-radius: 5px;
        box-shadow: 1px 1px 3px #dedede,
            -1px -1px 3px #f5f0f0;
    }

    .xPerson-intro {
        margin-top: 10px;
        color: #bebcbc;
        font-size: 12px;
    }

    .xPerson-links {
        margin-top: 10px;

        .xPerson-links-icon {
            margin: 0 10px;
        }
    }
}