.dark .ph-siteinfo {


    // 在网站底部留白
    // margin-bottom: 150px;
    border-top: 1px solid rgb(212, 203, 203);


    .ph-siteinfo-powered {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;

        div {
            color: #1d4bad;
            font-family: '优设标题黑';
            margin-left: 5px;
        }

        div:hover {

            color: rgb(169, 168, 114) !important;

        }


    }

    .ph-siteinfo-theme {

        display: flex;
        justify-content: space-around;
        align-items: center;
        // font-size: 20px;

        div {
            font-family: '优设标题黑';
            margin-left: 5px;
        }

        div:hover {
            background: linear-gradient(45deg, #1d7e76, #6eb0ca, #5464b3, #3a2d8a, #432768, #b0339d);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            transition: background 0.5s;
            font-weight: 800;
        }




    }

    .ph-siteinfo-icp {
        font-size: 12px;
        color: rgb(112, 106, 106);


    }

    .ph-siteinfo-icp:hover {

        color: rgb(186, 186, 205);

    }


}